<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title> Gaza Forex Institute </title>

  <!-- Favicons -->
  <link href="/user_area/img/favicon.png" rel="icon">
  <link href="/user_area/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link href="/user_area/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--external css-->
  <link href="/user_area/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/user_area/css/zabuto_calendar.css">
  <link rel="stylesheet" type="text/css" href="/user_area/lib/gritter/css/jquery.gritter.css" />
  <!-- Custom styles for this template -->
  <link href="/user_area/css/style.css" rel="stylesheet">
  <link href="/user_area/css/style-responsive.css" rel="stylesheet">
  <script src="/user_area/lib/chart-master/Chart.js"></script>

  <!-- =======================================================
    Template Name: Dashio
    Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>

<body>
  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="/user_area/index.html" class="logo"><b> GAZA</b></span></b></a>
      <!--logo end-->
      <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <ul class="nav top-menu">
          
          
        
        </ul>
        <!--  notification end -->
      </div>
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="/user_area/login.html">Logout</a></li>
        </ul>
      </div>
    </header>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="/user_area/profile.html"><i class="fa fa-user fa-5x"></i></a></p>
          <h5 class="centered">Sam Soffes</h5>
          <li class="mt">
            <a class="active" href="/dashboard">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
              </a>
          </li>
            <li class="">
            <a href="/account">
              <i class="fa fa-user"></i>
              <span> My Account </span>
              </a>
          </li>

          <li class="">
            <a href="/user_CWECWarea//account">
              <i class="fa fa-share"></i>
              <span> Referals / Affiliate   </span>
              </a>
          </li>

          
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-money"></i>
              <span>Wallet</span>
              </a>
            <ul class="sub">
             
              <li><a href="/user_area/inliFREFne_editor.html">Withdrawal </a></li>
              <li><a href="/user_area/fileF3F_upload.html"> Transactions </a></li>
            </ul>
          </li>
         
         
         
          <li>
            <a href="/user_area/inF3Fbox.html">
              <i class="fa fa-book"></i>
              <span>Courses </span>
              <span class="label label-theme pull-right mail-info">3</span>
              </a>
          </li>
          
          
         
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->